* {
    padding: 0;
    margin: 0;

}

header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    position: fixed;
    line-height: 100%;
    z-index: 500;
    background-color: var(--white);
    width: 100%;
    border-bottom: 0.5px solid var(--light-grey);
    box-shadow: 0 4px 4px 2px var(--light-grey);
}
header nav .nav-left{
    padding-right: 10px;
}

header nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;

}

header nav ul li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
    font-size: 1.2em;
}

header nav ul .green a {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
}

header .header-nav-logo-left {
    display: flex;

}

header .header-nav-logo-left ul {
    padding-left: 50px;
}

main {
    position: relative;
    top: 80px;
}

main nav {
    padding-left: 0px;
    flex-wrap: wrap;
    grid-area: 1/1/2/4;

}

main nav ul {
    padding-left: 20px;
}

main nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

main nav ul li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
    font-size: 1.2em;
}

main {
    display: grid;
    grid-template-columns: 50fr 30fr 50fr;
    grid-template-rows: repeat(11, auto) 200px ;
    gap: 2em;
}

main h1 {
    text-align: center;
    grid-area: 2/1/3/4;
    font-size: 42px;
}

main .section-toggle {
    grid-area: 3/2/4/3;
}

main .section-toggle .toggle {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid var(--dark-green);

}

main .section-toggle .toggle:after {
    content: '';
    position: absolute;
    width: var(--width);
    height: 30px;
    border-radius: 400px;
    background-color: var(--dark-green);
    top: 5px;
    left: 120px;
    transition: all 0.5s;
    z-index: -1;
}

main .section-toggle .checkbox:checked+.toggle::after {
    left: 15px;
}


main .section-toggle .checkbox:checked+.toggle {
    font-weight: bold;
}

/* Checkbox vanished */
main .section-toggle .checkbox {
    display: none;
    background-color: var(--dark-green);
}

main .section-toggle .toggle .toggle-inside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    border-radius: inherit;
}

main .section-toggle .toggle .toggle-inside div span {
    z-index: 2;
}

main .section-toggle .toggle .toggle-inside #monthly {
    color: var(--dark-green);
    font-weight: bold;
}

main .section-toggle .toggle .toggle-inside .yearly-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;

}

main .section-toggle .toggle .toggle-inside .yearly-div #yearly {
    color: var(--light-grey);
    font-weight: bold;
}

main .section-toggle .toggle .toggle-inside .yearly-div .two-months {
    color: var(--green);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--white);
    border-radius: 10px;
    height: 10px;
    padding: 2px 5px 4px 5px;

}

main .plans {
    grid-area: 4/1/5/4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 50fr);
    gap: 0.5em;
    margin: 20px;
    padding: 20px 60px 20px 60px;
}

main .plans .starter {
    border-radius: 30px;
    position: relative;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 2px 20px -6px var(--grey);
}

main .plans ul {
    list-style-type: none;
}

main .plans .professional .professional-div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: solid 5px var(--orange);
    border-bottom: solid 1px var(--orange);
    background-color: var(--white);
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 40px;
}

main .plans .professional .professional-p {
    color: var(--white);
    margin-bottom: 680px;
    background-color: var(--orange);
}

main .plans .professional {
    background-color: var(--orange);
    border-radius: 30px;
    position: relative;
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main .plans .business {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 2px 20px -6px var(--grey);
}

main .plans article .description {
    padding: 10px 90px 10px 90px;
    text-align: center;
}

main .plans article ul li {
    padding: 10px 40px 10px 40px;
}

#btn-start-for-free {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
}

#price {
    font-size: 2.5em;
}

section article ul li i {
    color: var(--green);
    font-weight: bold;
}

main .h1-add-ons {
    text-align: center;
    grid-area: 5/1/6/4;
    font-size: 42px;
}

main .add-ons {
    grid-area: 6/1/7/4;
    display: grid;
    gap: 2em;
    grid-template-areas: "collaborators partners tax-assistant";
    grid-template-rows: repeat(50fr);
    grid-template-columns: repeat(50fr);
    margin: 20px;
    padding: 20px 60px 20px 60px;
}

.collaborators {
    grid-area: collaborators;
    border-radius: 30px;
    border: solid 0.1px var(--grey);
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.partners {
    grid-area: partners;
    border-radius: 30px;
    border: solid 0.1px var(--grey);
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tax-assistant {
    grid-area: tax-assistant;
    border-radius: 30px;
    border: solid 0.1px var(--grey);
    padding: 20px 60px 20px 60px;
}

#cost {
    text-align: end;
    padding: 20px 0px 20px 0px;
}

main .add-ons article p {
    padding: 20px;
    text-align: start;
}

main .add-ons article h3 {
    text-align: center;
}

main .add-ons article a {
    padding: 20px;
    color: var(--green);
    font-weight: bold;
}

main .faq {
    grid-area: 7/1/8/4;
    display: grid;
    grid-template-areas: "h1-faq image"
        "questions image";
    grid-template-columns: 80fr 20fr;
    grid-template-rows: min-content;
}

main .faq .h1-faq {
    text-align: left;
    padding: 5px 30px 5px 30px;
    grid-area: h1-faq;
    height: min-content;
    font-size: 42px;
}

main .faq img {
    grid-area: image;
    max-width: 100%;
    max-width: 100%;
}

main .faq .accordion-container {
    grid-area: questions;
}

main .faq .accordion-container .accordion {
    cursor: pointer;
    padding: 18px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background-color: var(--white);
    font-size: 20px;

}

main .faq .accordion-container .panel {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
}

main .h1-trusted {
    grid-area: 8/1/9/4;
}

main .trusted {
    grid-area: 9/1/10/4;
    display: flex;
    justify-content: center;
}

main .trusted img {
    padding: 20px;
}

main .opinions {
    grid-area: 10/1/11/4;
    display: block;

}

main .opinions .horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: relative;

}

main .opinions .horizontal span {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-green);
    padding: 10px 5px;
    margin: 5px 15px;
    border-radius: 10px;
    background-color: var(--light-grey);
    line-height: 150%;
    text-align: center;
    width: 500px;
    white-space: nowrap;

}

main .images {
    grid-area: 11/1/12/4;
    display: grid;
    gap: 4em;
    grid-template-areas: "img text";
    grid-template-columns: 60fr 40fr;
    margin: 50px 120px;
}

main .images #img {
    grid-area: img;
    position: relative;
}

main .images #img .group-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main .images #img .leave-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    position: absolute;
    top: 2px;
    left: 240px;
}

main .images div article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    border-bottom: solid 0.5px var(--light-grey);
}

main .images div article h4 {
    font-size: 30px;
}

main .images div article .support {
    margin-right: 40px;
}

main .images div article .contact-us {
    color: var(--green);
    font-weight: bold;

}

main .images div article button {
    width: fit-content;
}

main .trial {
    grid-area: 12/1/13/4;
    padding: 0px 120px;
    display: flex;
    justify-content: center;
}

main .trial .trial-div {
    border-radius: 25px;
    margin-bottom:50px;
    padding: 20px 30px;
    background-color: var(--dark-green);
    color: var(--white);
    font-size: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    
}

footer {
    margin-top: 50px;
    padding-top: 80px;
    display: grid;
    grid-template-rows: 40px auto auto auto;
    grid-template-columns: 10fr 15fr 15fr 15fr 15fr;
    row-gap: 1em;

}

footer .logo {
    grid-area: 1/1/2/2;
    height: 30px;
    justify-self: center;

}

footer .company {
    display: flex;
    flex-direction: column;
    grid-area: 2/1/3/2;
    justify-self: center;
}

footer .products {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/3/3;
    justify-self: center;
}

footer .business-types {
    display: flex;
    flex-direction: column;
    grid-area: 1/3/3/4;
    justify-self: center;
}

footer .resources {
    display: flex;
    flex-direction: column;
    grid-area: 1/4/3/5;
    justify-self: center;
}

footer .templates {
    display: flex;
    flex-direction: column;
    grid-area: 1/5/3/6;
    justify-self: center;


}

footer .templates .dropdown {
    display: inline-block;
    position: relative;


}

footer .templates .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

footer .templates .dropdown .dropdown-options li a,
footer section a {
    color: var(--dark-green);
    text-decoration: none;

}

footer .templates .dropdown .dropdown-options li a:hover,
footer section a:hover {
    color: var(--green);
}

footer .templates .dropdown button {
    color: var(--dark-green);

}

footer section p {
    color: var(--dark-green);
    font-weight: bold;
    padding-top: 10px;

}

footer .templates .dropdown button {
    border: none;
    background-color: var(--white);

}

footer .templates .show {
    display: block;
    z-index: 300;
    background-color: var(--white);
}

footer section .dropdown .dropdown-options {
    padding: 5px 5px 10px 0px;
    width: 150%;
}

footer section .dropdown .dropbtn,
footer section a {
    padding: 5px 5px 10px 0px;
}

footer section .dropdown .dropdown-options li {
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
}

footer .media {
    grid-area: 3/1/4/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 10px 30px;
    border-top: 0.5px solid var(--light-grey);
}

footer .media p {
    padding: 0px;
}

footer .media .icons {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

footer .media .icons span {
    background-color: var(--green);
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

footer .media .icons span i {
    font-size: 25px;
    color: var(--white);

}

footer .grey-text {
    grid-area: 4/1/5/6;
}

footer .grey-text p {
    color: var(--light-grey);
    padding: 30px 40px;
    font-size: 12px;
}