:root{
    --white:#f5f4f4;
    --grey:#535464;
    --yellow:#f8db62;
    --green:#2bb90a;
    --orange: #ee8146;
    --light-grey:#ecf1ec;
    --dark-green:#003c2f;
    --width: 210px;
    --font: 'Roboto',
        sans-serif;
}

:after{
    width: var(--width);
}
