:root{
    --white:#fff;
    --grey:#4c4d5f;
    --yellow:#f8db62;
    --green:#2bb90a;
    --orange: #ee8146;
    --light-grey:#ecf1ec;
    --dark-green:#003c2f;
    --width: 210px;
}

:after{
    width: var(--width);
}
